:root {
    --primary-color: rgba(1, 135, 244, 1)
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    font-family: 'Fira Sans', sans-serif;
}

.title {
    width: 800px;
    height: 100px;
    background-color: var(--primary-color);;
    display: grid;
    place-content: center;
}

.currencyConverter {
    width: 800px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box .input {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    font-size: 18px;
}

.box select {
    width: 100%;
    height: 25px;
    font-size: 18px;
    line-height: 1.25;
}

.box input[type="submit"] {
    width: 100%;
    height: 30px;
    background-color: #006699;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    line-height: 1.25;
}

.box ul {
    margin-top: 10px;
}

.box ul li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box ul li span {
    font-weight: normal;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.currency-tbl {
    width: 100%;
    margin: 30px 0;
    border-collapse: collapse;
}

.currency-tbl thead tr th {
    padding: 10px 0;
    font-size: 18px;
    color: #777;
    text-align: center;
    border-bottom: 2px solid #ccc;
    font-weight: normal;
}

.currency-tbl tbody tr td {
    padding: 10px 0;
    font-size: 16px;
    color: #777;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.currency-tbl tbody tr:last-child td {
    border-bottom: 0;
}

.currency-tbl tbody tr:nth-child(2n) {
    background: #fafafa;
}

.currency-tbl tbody tr td:nth-child(2) {
    font-weight: bold;
    color: #222;
}

.currency-tbl tbody tr td:nth-child(3) {
    color: #00a8ff;
}