:root {
    --primary-color: rgba(1, 135, 244, 1)
}

.homepage-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.featured-section {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    max-height: 30rem;
}

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 70%;
}

.featured-image {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.featured-weekly {
    display: flex;
    flex-direction: column;
    flex: 0 1 25%;
    align-self: stretch;
    border: dotted lightslategrey;
    padding: 1rem;
    overflow: auto;
}

.featured-weekly h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
}

.featured-weekly-category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0;
    overflow: auto;
    overflow-wrap: break-word;
    border-bottom: thin solid var(--primary-color);
}

.featured-weekly-category-container p {
    display: flex;
    gap: 0.3rem;
}

.featured-weekly-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    white-space: nowrap;
}

.weekly-selected {
    color: var(--primary-color);
}

.featured-category-content p{
    padding-left: 0.5rem;
    border-left: solid black;
}

.must-read {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.must-read h2 {
    width: fit-content;
    border-bottom: solid 0.2em var(--primary-color);
}

.must-read-articles {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

.must-read-articles article img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.email-subscription-wrapper {
    width: 100vw;
    padding: 2rem 0 2rem 0;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-subscription {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: white;
}

.email-subscription button {
    height: 3rem;
    width: 10em;
}

.email-subscription-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.email-subscription-text p {
    margin: 0;
    padding: 0;
}

.email-subscription-text input {
    width: 100%;
    line-height: 1.75;
}

.world-map {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.world-map h2 {
    width: fit-content;
    border-bottom: solid 0.2em var(--primary-color);
}

.world-map img {
    width: 100%;
}